<%- include('partials/head.ejs') %>
<!--Bootstrap Navbar included as partials-->
<%- include('partials/navbar.ejs')%>
<h1>There are cats in my house</h1>
<p>Their names are <%= cats %> </p>
<!--What if we want to loop over and create a list-->
<ul>
    <% for(let cat of cats) { %>
    <li><%= cat %> </li>
    <% } %>
</ul>
<%- include('partials/footer.ejs')%>